#container {
   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

  }

  form {
    width: 10%;
  }
  input{
    margin-top: 15%;
    padding:15px;
    border-radius: 10px;
   }
   body{
    background: rgb(62,38,30);
    background: linear-gradient(99deg, rgba(62,38,30,1) 0%, rgba(88,42,30,1) 51%);
    font-family: sans-serif;
   }
   #register-form button{
    width:30%;
    border-radius:10px ;
    padding: 10px;
    font-size: larger;
    margin-top: 15px;
   background: rgb(232,143,59);
    background: linear-gradient(99deg, rgba(232,143,59,1) 0%, rgba(237,45,10,1) 87%); ;
   }
   #register-form{
    margin-left: 350px;
   }
   h2{
    color: rgb(97, 235, 129);
    font-size:30px;
    margin-left:38px;
   }
   #login-form {
    margin-right: 380px;
   }
   #login-form button{
    width:80%;
    border-radius:10px ;
    padding: 8px;
    font-size: larger;
    margin-top: 15px;
   background: rgb(232,143,59);
    background: linear-gradient(99deg, rgba(232,143,59,1) 0%, rgba(237,45,10,1) 87%);
   }
  #logo a{
    text-decoration: none;
    color: black;
  }

