body {
    margin: 0;
    padding: 0;
  }
 
  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    background: linear-gradient(to bottom, #3c2c1b, #221f15);
    color: white;
  }
  #nav{
    flex: 5;
    display: flex;
    align-items: center;
  }
   h4{
   margin-left:13%;
   font-size:20px;
   padding:8px
  }
  h4 a{
    text-decoration: none;
    font-size: larger;
    color: white;
  }